*{
    margin: 0;
    padding: 0;
}

main{
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

img#foto{
    height: auto;
    width: 150px;
    margin-top: 70px;
    margin-bottom: 15px;
    border-radius: 50%;
    text-align: center;
}

p{
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.5;
}

.container{
    border: 1px solid rgba(0, 0, 0, 0.404);
    text-align: center; 
    max-width: 400px;
    width: 280px;
    margin: 5px auto;
}

div.container > a{
    text-decoration: none;
    font-size: 1.3em;
    
}

div.icone{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    opacity: 0.29;
    margin-top: 30px;
}

div.icone > img{
    width: 35px;
    margin-right: 10px;
}

*a{
    color: black;
}